body{
   text-align: center;
   margin: 100px;
   margin-top: 0px;
    
}
header{
    margin: 0;
    padding: 0;
    top: 0px;
    background-color: darkslategray;
    color: white;
    font-family:'Cambria';
    position: relative;

}

ul{
    list-style-type: none;
    padding: 0;
    text-align: center;
    background-color: darkgray;
}

ul li{
    display: inline;
    margin: 10px;
}

main {
    width:100%;
    display: inline-block;
    font-family: monospace;
    background-color:bisque;
    padding-bottom: 10px;
    margin-bottom: 0px;
}

img{
    width: 10%;
}

#exit{
    width: 50px;
}

input[type=button]{
    border-radius: 10px;
}
input[type=text]{
    width: 40px;
    border-radius: 5px;
}
footer{
    margin: 0;
    padding: 0;
}
#footer{
    background-color: darkslategray;
    color: white;
    position: relative;
    bottom: 0px;
}